/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* custom css after css reset */

:root {
    --content-width: 50em;
    --content-min-width: 16em;
    --content-padding: 1em;
    --col-gap-sm: 0.5em;
    --col-w-sm: 2em;
    --col-gap: 1em;
    --line-height: 1.5em;
    --v-spacing: 2em;
    --color-primary: #277aad;
    --link-color: #fff;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 100%;
    line-height: var(--line-height);
}

body {
    margin: 0;
    color: white;
}

.fill-primary {
    fill: var(--color-primary);
}

.fill-keyword-icon {
    fill: white;
}

.stack {
    display: grid;
    grid-template-areas: "stack";
}

.stack>* {
    grid-area: stack;
}

.stack video {
    width: 100%;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.content {
    min-width: var(--content-min-width);
    width: min(100%, var(--content-width));
    margin-inline: auto;
    padding-inline: var(--content-padding);
    height: 100svh;
    overflow-y: scroll;
}

.head {
    display: grid;
    place-content: center;
    place-items: center;
    place-self: center;
    height: 100svh;

    .head-grid {
        display: grid;
        justify-items: center;
        align-items: center;
        column-gap: var(--col-gap-sm);
        grid-template-areas:
            "name avatar"
            "line avatar"
            "claim avatar";

        .name {
            grid-area: name;
            font-size: 1.1rem;
            line-height: var(--line-height);
            letter-spacing: 0.05rem;
            position: relative;
        }

        .line {
            grid-area: line;
            display: block;
            background-color: var(--color-primary);
            height: 0.1rem;
            width: 90%;
        }

        .claim {
            grid-area: claim;
            font-size: 0.7rem;
        }

        .avatar {
            grid-area: avatar;
            display: flex;

            img,
            source {
                border-radius: 50%;
            }
        }
    }
}

.content-grid {
    --min: 13ch;
    display: grid;
    /* min() with 100% prevents overflow
    in extra narrow spaces */
    column-gap: var(--col-gap);
    row-gap: var(--line-height);
    grid-template-columns: repeat(auto-fit, var(--col-w-sm) [keyword-start] minmax(min(100%, var(--min)), 1fr) [keyword-end]);
    align-items: center;

    svg.heading {
        grid-column: 1/2;
    }

    h2 {
        color: white;
        font-weight: lighter;
        margin: 0;
        grid-column: 2/-1;
    }

    .empty-row {
        grid-column: 1/-1;
        height: var(--line-height);
    }

    svg {
        height: var(--line-height);
        width: 100%;
    }

    a {
        text-decoration: none;
        color: var(--link-color);
    }

    .made-with {
        grid-column: 1/-1;
        place-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}