<h1>Herzlich Willkommen</h1>
<p>
    Grüße aus der digitalen Welt! Ich bin Marius Räsener – Ihr Experte für technische Informatik, Cloud-Entwicklung und
    DevOps Engineering. <br /><br />
    Mit umfassender Erfahrung als Lead Architect und Developer, tiefer Leidenschaft für
    Smarthome-Technologien und einem Auge für die Kunst der Fotografie, vereine ich Technikverständnis mit kreativem
    Denken.<br /><br />
    Ob Sie ein Unternehmen oder ein technikaffiner Enthusiast sind, ich bin bereit, mein Netzwerk und mein
    Know-how mit Ihnen zu teilen. Kontaktieren Sie mich, und lassen Sie uns die Möglichkeiten der Technologie gemeinsam
    ausschöpfen.<br /><br />
</p>