<h1>Herzlich Willkommen</h1>
<p>
    Grüße aus der digitalen Welt! Ich bin Marius Räsener – Ihr Experte für technische Informatik, Cloud-Entwicklung und
    DevOps Engineering. <br /><br />
    Mit umfassender Erfahrung als Lead Architect und Developer, tiefer Leidenschaft für
    Smarthome-Technologien und einem Auge für die Kunst der Fotografie, vereine ich Technikverständnis mit kreativem
    Denken.<br /><br />
    Ob Sie ein Unternehmen oder ein technikaffiner Enthusiast sind, ich freue mich immer mein Netzwerk zu erweitern. Kontaktieren Sie mich einfach über eine der die nachfolgenden Kanäle.<br /><br />
</p>