{% include "icons/dash.html" %}
<h2>tech stack</h2>
{% include "icons/python.html" %}
<a rel="noreferrer" target="_blank" href="https://www.python.org/">Python</a>
{% include "icons/dart.html" %}
<a rel="noreferrer" target="_blank" href="https://dart.dev/">Dart</a>
{% include "icons/javascript.html" %}
<a rel="noreferrer" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
{% include "icons/typescript.html" %}
<a rel="noreferrer" target="_blank" href="https://www.typescriptlang.org/">TypeScript</a>
{% include "icons/rust.html" %}
<a rel="noreferrer" target="_blank" href="https://www.rust-lang.org/">Rust</a>
{% include "icons/hcl.html" %}
<a rel="noreferrer" target="_blank" href="https://github.com/hashicorp/hcl">HCL</a>
{% include "icons/html.html" %}
<a rel="noreferrer" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>
{% include "icons/css.html" %}
<a rel="noreferrer" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>