{% include "icons/dash.svg" %}
<h2>Sprachen</h2>
{% include "icons/python.svg" %}
<a rel="noreferrer" target="_blank" href="https://www.python.org/">Python</a>
{% include "icons/dart.svg" %}
<a rel="noreferrer" target="_blank" href="https://dart.dev/">Dart</a>
{% include "icons/javascript.svg" %}
<a rel="noreferrer" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
{% include "icons/typescript.svg" %}
<a rel="noreferrer" target="_blank" href="https://www.typescriptlang.org/">TypeScript</a>
{% include "icons/rust.svg" %}
<a rel="noreferrer" target="_blank" href="https://www.rust-lang.org/">Rust</a>
{% include "icons/hcl.svg" %}
<a rel="noreferrer" target="_blank" href="https://github.com/hashicorp/hcl">HCL</a>
{% include "icons/html.svg" %}
<a rel="noreferrer" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>
{% include "icons/css.svg" %}
<a rel="noreferrer" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>