{% include "parts/empty_row.html" %}
{% include "icons/dash.svg" %}
<h2>social</h2>

{% include "icons/signal.svg" %}
<a rel="noreferrer" target="_blank"
    href="https://signal.group/#CjQKIOON467dd49bxlJjFE83wiFhQLlz6hEGUZ8wL1OfelmSEhBBnGwVioGQUU4ffYtBkJkn">signal</a>
{% include "icons/email.svg" %}
<a rel="noreferrer" target="_blank" href="mailto:marius@raesener.de">eMail</a>
{% include "icons/linkedin.svg" %}
<a rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/raesener/">linkedin</a>
{% include "icons/github.svg" %}
<a rel="noreferrer" target="_blank" href="https://github.com/elmcrest">github</a>