{% include "icons/django.html" %}
<a rel="noreferrer" target="_blank" href="https://www.djangoproject.com/">Django</a>
{% include "icons/fastapi.html" %}
<a rel="noreferrer" target="_blank" href="https://fastapi.tiangolo.com/">FastAPI</a>
{% include "icons/flutter.html" %}
<a rel="noreferrer" target="_blank" href="https://flutter.dev/">Flutter</a>
{% include "icons/react.html" %}
<a rel="noreferrer" target="_blank" href="https://reactjs.org/">React.js</a>
{% include "icons/vue.html" %}
<a rel="noreferrer" target="_blank" href="https://vuejs.org/">Vue.js</a>
{% include "icons/tokio.html" %}
<a rel="noreferrer" target="_blank" href="https://github.com/tokio-rs/">Tokio</a>
{% include "icons/terraform.html" %}
<a rel="noreferrer" target="_blank" href="https://www.terraform.io/">Terraform</a>
{% include "icons/gcp.html" %}
<a rel="noreferrer" target="_blank" href="https://cloud.google.com">GCP</a>
{% include "icons/azure.html" %}
<a rel="noreferrer" target="_blank" href="https://azure.microsoft.com">Azure</a>
{% include "icons/aws.html" %}
<a rel="noreferrer" target="_blank" href="https://azure.microsoft.com">AWS</a>
{% include "icons/docker.html" %}
<a rel="noreferrer" target="_blank" href="https://www.docker.com">Docker</a>
{% include "icons/kubernetes.html" %}
<a rel="noreferrer" target="_blank" href="https://kubernetes.io">Kubernetes</a>
{% include "icons/tailwindcss.html" %}
<a rel="noreferrer" target="_blank" href="https://kubernetes.io">TailwindCSS</a>