<video
      loop
      muted
      autoplay
      playsinline
      preload="none"
      poster="/assets/background-video/typing3_light_720pFrame0.jpg"
      class="light-video"
    >
      <source
        src="/assets/background-video/typing3_light_720pCBR23.mp4"
        type="video/mp4"
      />
    </video>
<video
      loop
      muted
      autoplay
      playsinline
      preload="none"
      poster="/assets/background-video/typing3_720pFrame0.jpg"
      class="dark-video"
    >
      <source
        src="/assets/background-video/typing3_720pCBR23.mp4"
        type="video/mp4"
      />
    </video>